/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Oct-2016, 21:42:55
    Author     : Jack
*/
a:link {
    text-decoration: none;
}

.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ui-link{
    text-decoration: none;
    color: #fff;
}

html{
    background-color: #eeeeee;
    height: 100%;
}

body{
    margin: 0 auto;
    background-color: #f7f6f0;
    height: 100%;
}

.centre{
    margin: auto;
    width: 960px;
}

.pageLayout{
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

#container{
    text-shadow: none;
    padding-top:50px;
    padding-bottom: 70px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#headerContainer{
    background-color: rgb(39, 39, 39);
    float: left;
    width: 100%;
    margin: auto;
    padding: 5px;
    border-bottom: 2px solid #7d7d7d;    
    font-size: 30px;    
    
    margin-top:-50px;
    height:50px;
}

#header{
    height: 100%;
}

#loginLogo{
    float: right;
    margin-right: 10px;
    border-left: 2px solid #7d7d7d;
    padding-left: 10px;
    height: 100%;
}

.fa-lock{
    margin-top: 4px;
}

#bit{
    color: #f9f9f9;
}

#budget{
    color: #689F38;
}

#header-logo{
    float: left;
    margin-left:  10px;
    border-left: 2px solid #7d7d7d;
    padding-left: 10px;
    height: 100%;
    font-size: 25px;
}


#menuContainer{
    float: left;
    width: 100%;
    margin: auto;
    display: none;

}

#menu{
    background-color: #1a1a1a;
    color: white;
}


.home, .entry, .accounts, .reports{
    border-bottom: 2px solid #7d7d7d;
    -webkit-transition:color .2s ease-in;
}
.home:hover{
    border-bottom: 2px solid #689f38;
    -webkit-transition:color .2s ease-in;
    color: #fff;
}
.home a{
    color: #689f38;
}

.entry:hover{
    border-bottom: 2px solid #F44336;
    -webkit-transition:color .2s ease-in;
}
.entry a{
    color: #F44336
}

.accounts:hover{
    border-bottom: 2px solid #2196F3;
    -webkit-transition:color .2s ease-in;
}
.accounts a{
    color: #2196F3
}

.reports:hover{
    border-bottom: 2px solid #EC407A;
}
.reports a{
    color: #EC407A
}

#menu table{
    table-layout: fixed;
    width: 60%;
}

#menu table td{
    text-align: center;
    border-right: 2px #07541f solid
}

.headerRow{
    background-color: #cccccc;
}

tr:nth-child(even) {
    background-color: #eaeaea;
}


#subNavigation{
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid #e8e8e8;
    margin-bottom: 5px;
}


#content{
    max-width: 1024px;
    margin: auto;
    min-height:100%;
}


#footer{
    margin-bottom:-48px;
    height:50px;
    width: 100%;
    margin-top: 20px;
    background-color: #1a1a1a;
    color: #f9f9f9;
    border-top: 2px solid #7d7d7d;
}

footer{
    height: 100%;
}



#LoginForm{
    text-align: center;
}

#Login{
    background-color:  #000;
    min-height: 50px;
    vertical-align: middle;
    
}

.login{
    background-color: #689F38;
}



/*Menu Icon   http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js*/
.iconContainer {
    display: inline-block;
    cursor: pointer;
    float: left;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #e8e8e8;
    margin: 6px 0;
    transition: 0.4s;
}

.fa-lock{
    color: #e8e8e8;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}