/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Oct-2016, 21:42:55
    Author     : Jack
*/
a:link {
    text-decoration: none;
}

.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ui-link{
    text-decoration: none;
    color: #fff;
}

html{
    background-color: #eeeeee;
    height: 100%;
}

body{
    margin: 0 auto;
    background-color: #f7f6f0;
    height: 100%;
}

.centre{
    margin: auto;
    width: 960px;
}

.pageLayout{
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

#container{
    text-shadow: none;
    padding:50px 0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#headerContainer{
    background-color: rgb(255, 255, 255);
    float: left;
    width: 100%;
    margin: auto;
    padding: 5px;
    border-bottom: 2px solid #9c9c9c;    
    font-size: 30px;    
    
    margin-top:-50px; height:50px;
    
    -webkit-box-shadow: 1px 1px 5px 0px rgba(189,189,189,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(189,189,189,1);
    box-shadow: 1px 1px 5px 0px rgba(189,189,189,1);
}

#loginLogo{
    float: right;
    margin-right: 10px;
}

#bit{
    
}

#budget{
    color: #689F38;
}

#header-logo{
    float: left;
    margin-left:  10px;
}


#menuContainer{
    float: left;
    width: 100%;
    margin: auto;
    display: none;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(189,189,189,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(189,189,189,1);
    box-shadow: 1px 1px 5px 0px rgba(189,189,189,1);
}

#menu{
    background-color: #455A64;
    color: white;
    border-bottom: 2px solid #9c9c9c;    
}


.home{
    border-bottom: 4px solid #455A64;
    -webkit-transition:color .2s ease-in;
}
.home:hover{
    border-bottom: 4px solid #689f38;
    -webkit-transition:color .2s ease-in;
    color: #fff;
}
.home a{
    color: #689f38;
}

.entry{
    border-bottom: 4px solid #455A64;
    -webkit-transition:color .2s ease-in;
}
.entry:hover{
    border-bottom: 4px solid #F44336;
    -webkit-transition:color .2s ease-in;
}
.entry a{
    color: #F44336
}

.accounts{
    border-bottom: 4px solid #455A64;
    -webkit-transition:color .2s ease-in;
}
.accounts:hover{
    border-bottom: 4px solid #2196F3;
    -webkit-transition:color .2s ease-in;
}
.accounts a{
    color: #2196F3
}

.reports{
    border-bottom: 4px solid #455A64;
}
.reports:hover{
    border-bottom: 4px solid #EC407A;
}
.reports a{
    color: #EC407A
}

#menu table{
    table-layout: fixed;
    width: 60%;
}

#menu table td{
    text-align: center;
    border-right: 2px #07541f solid
}

.headerRow{
    background-color: #cccccc;
}

tr:nth-child(even) {
    background-color: #eaeaea;
}


#content{
    max-width: 1024px;
    margin: auto;
    min-height:100%;
}


#footer{
    margin-bottom:-50px;
    height:50px;
    width: 100%;
    margin-top: 20px;
}

footer{
        height: 100%;
}




/*Menu Icon   http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js*/
.iconContainer {
    display: inline-block;
    cursor: pointer;
    float: left;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #444444;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}